/**
 * author:BlackAnWhite;
 * 2017-12-07
 */


/**==================================================*
*        login &  forgetPassWord                     *
*===================================================**/

.bgefefef{
	background: #efefef;
}
.content{
	font-size: 0.28rem;
	/*width: 100%;*/
	/*max-width: 10.8rem;*/
	min-height: 12.34rem;
	margin: 0 auto;
}
.hasNav{
	padding-bottom: 1.2rem;
}
.autoimg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
/*固定底部导航*/
nav{
	width: 100%;
	height: 1rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 1px solid #ccc;
	z-index: 999999;
}
nav ul{
	width: 100%;
	height: 100%;
}
nav ul li{
	width: 33.33333333333333%;
	height: 100%;
	float: left;
}
nav ul li.active a{
	color: #F64C68;
}
nav ul li a{
	display: block;
	width: 1rem;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 0.7rem;
	font-size: 0.24rem
}
/*固定底部导航 end*/
body.login-bg {
	width: 100%;
	height: 100%;
}

.login-bg .login-top {
	width: 100%;
	/*height: 2rem;*/
	font-size: 0.54rem;
	text-align: center;
	color: #fff;
	margin: 1rem 0;
}

.login-form {
	width: 90%;
	margin: 0 auto;
	font-size: 0.36rem;
}

.login-form input {
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.28rem;
	border-bottom: 1px solid #f64c68;
	margin-bottom: 0.2rem;
	background: transparent;
	padding: 0 0.1rem;
}
.codeBox{
	border-bottom: 1px solid #f64c68;
	width: 100%;
	margin-top: 20px;
}
.codeBox input{
	border: 0;
	margin-bottom: 0;
}
.codeBox input.smsCode{
	width: 55% !important;
}
.codeBox input.getCode{
	width: 45% !important;
	margin-top: 0 !important;
	height: 0.6rem !important;
	line-height: 0.6rem !important;
	font-size: 0.28rem !important;
}
.login-form input::-webkit-input-placeholder {
	color: #fff;
}

.login-form input:-moz-placeholder {
	color: #fff;
}

.login-form input::-moz-placeholder {
	color: #fff;
}

.login-form input:-ms-input-placeholder {
	color: #fff;
}

.login-form input[type=button] {
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.36rem;
	color: #fff;
	margin-bottom: 0.2rem;
	background: #F64C68;
	border-radius: 0.05rem;
	margin-top: 0.8rem;
}

.login-form .forget-pwd a {
	color: #fff;
	font-size: 0.24rem;
}
.login-rule{
	position: fixed;
	bottom: 0.4rem;
	width: 100%;;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
}
.login-rule a{
	color: #F64C68;
}





/**==================================================*
*        login &  forgetPassWord  end                *
*===================================================**/

/**==================================================*
*             banner                                 *
*===================================================**/
.banner{
	width: 100%;
	height: 3.5rem;
}
.banner img{
	width: 100%;
}
.banner .swiper-container{
	width: 100%;
	height: 100%;
}
/*swiper*/
/*修改小圆点样式*/
.swiper-pagination-bullet-active{
	background: #fff !important;
}
/**==================================================*
*                       banner end                   *
*===================================================**/

 /*滚动通知*/
.scrollMsg{
	width: 100%;
	height: 0.8rem;
	padding: 0 0.15rem 0 0.7rem;
	margin-top: 0.2rem;
	background: #fff url(../images/icon-1.png) no-repeat 0.15rem center;
	background-size: 0.5rem;
	overflow: hidden;
}
.scrollMsg .swiper-slide{
	height: 0.8rem;
	line-height: 0.8rem;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.28rem;
	color: #666;
}
 /*滚动通知 end*/

/*四宫格*/
.grid{
	width: 100%;
	height: 1.8rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.grid ul{
	width: 100%;
	height: 100%;
	clear: both;
}
.grid ul li{
	width: 25%;
	height: 100%;
	border-right: 1px solid #ccc;
	float: left;
}
.grid ul li:last-child{
	border-right: 0;
}
.grid ul li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 1.2rem;
}
.grid ul li a span{
	display: block;
	width: 100%;
	text-align: center;
}

/*体验大厅*/
.hall{
	width: 100%;
	margin-top: 0.2rem;
	background: #fff;
	padding: 0.2rem;
}
.hall .hall-tit{
	height: 0.36rem;
	border-left: 4px solid #F64C68;
	font-size: 0.36rem;
	padding-left: 0.1rem;
	color: #353535;
}
.hall .hall-tit a.more{
	display: inline-block;
	width: 0.3rem;
	height: 100%;
	background: url(../images/arrow.png) no-repeat center;
	background-size: 0.2rem;
	float: right;
}
.hall ul{
	width: 100%;
	height: auto;
	margin-top: 0.2rem;
}
.hall ul li{
	width: 3.5rem;
	height: 2rem;
	border-radius: 0.1rem;
	float: left;
	margin-right: 0.1rem;
	position: relative;
	margin-top: 0.1rem;
}
.hall ul li:nth-child(even){
	margin-right: 0;
}
.hall ul li a{
	width: 100%;
	height: 100%;
	display: block;
}
.hall ul li a .lastNum{
	width: auto;
	height: 0.3rem;
	line-height: 0.3rem;
	/*vertical-align: middle;*/

	border-radius: 0.15rem;
	background: #F64C68;
	font-size: 0.18rem;
	padding: 0 0.1rem;
	padding-top: 0.02rem;
	font-style: normal;
	color: #fff;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}
.hall ul li a p{
	font-size: 0.48rem;
	text-align: center;
	color: #fff;
	margin-top: 0.7rem;
}
.hall ul li a>span{
	font-size: 0.24rem;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 0.1rem;
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
}

/*消息列表*/
.massage{
	width: 100%;
	height:auto;
}
.massage .msgBox{
	width: 100%;
	height: auto;
	padding: 0.15rem;
	background: #fff;
	margin-bottom: 0.15rem;
}
.massage .msgBox .headPic{
	width: 1rem;
	height: 1rem;
	margin-right: 0.15rem;
}
.massage .msgBox .msgCon{
	width: 5.4rem;
	height: auto;
}
.massage .msgBox .msgCon img{
	max-width: 100%;
}
.massage .msgBox .msgCon .msgTit{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.36rem;
	color: #0486e2;
}
.massage .msgBox .msgCon .msgTxt{
	width: 100%;
	line-height: 1.4;
}
.massage .msgBox .msgCon .msgTime{
	margin-top: 0.2rem;
	font-size: 0.24rem;
	color: #999;
}

/*分页*/
.page{
	width: 4.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	margin: 0 auto;
	border-radius: 0.1rem;
	overflow: hidden;
}
.page .prev,
.page .next{
	width: 35%;
	background: #f64c68;
	color: #fff;
	text-align: center;
}
.page .num{
	background: #fff;
	width: 30%;
	text-align: center;
}
/*分页 end*/

/*个人中心*/
.mineTop{
	width: 100%;
	height: 2rem;
	position: relative;
}
.mineTop .minePic{
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -0.7rem;
	left: 0.4rem;
}
.mineTop .myName{
	width: 60%;
	font-size: 0.36rem;
	color: #fff;
	position: absolute;
	left: 26%;
	top: 30%;
}
.mineTop .rz{
	width: 60%;
	font-size: 0.24rem;
	position: absolute;
	left: 26%;
	top: 55%;

}
.mineTop .rz span{
	display: inline-block;
	background: #f64c68;	
	padding: 0.06rem 0.15rem;
	border-radius: 0.3rem;
	color: #fff;
}
.money{
	width: 100%;
	height: 1.2rem;
	background: #fff;
}
.money ul{
	width: 100%;
	height: 100%;
	/*border-top: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
}
.money ul li{
	width: 50%;
	height: 100%;
	float: left;
	border-right: 1px solid #ccc;
	text-align: center;
}
.money ul li:last-child{
	margin-right: 0;
}
.money ul li p{
	font-size: 0.24rem;
	color: #666;
	margin-top: 5%;
}
.money ul li span{
	font-size: 0.32rem;
	margin-top: 5%;
	display: inline-block;
	color: #353535;
}

.mylist{
	width: 100%;
	margin-top: 0.2rem;
	background: #fff;
}
.mylist ul{
	width: 100%;
	height: auto;
}
.mylist ul li{
	width: 100%;
	height: 0.8rem;
	border-bottom: 1px solid #eee;
	line-height: 0.8rem;
	padding: 0 0.2rem;
	background: url(../images/arrow.png) no-repeat 7.1rem center;
	background-size: 0.18rem;
}
.mylist ul li:last-child{
	border-bottom: 0;
}
.mylist ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.mylist ul li a span{
	float: right;
	margin-right: 0.4rem;
	font-size: 0.22rem;
	color: #999;
}

/*体验大厅列表*/

.hallTop{
	width: 100%;
	height: 0.8rem;
	background: #F64C68;
	position: relative;
}
.hallTop .back{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/arrowleft.png) no-repeat center;
	background-size: 0.24rem;
}
.hallTop .back a{display: block;}
.hallTop .hallName{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.36rem;
	color: #fff;
}

.hallTop .hallSelect{
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.03rem 0.3rem 0.04rem 0.1rem;
	margin-right: 0.2rem;
	border: 1px solid #Fff;
	color: #fff;
	border-radius: 0.28rem;
	font-size: 0.24rem;
	background: url(../images/arrowdown.png) no-repeat right center;
	background-size: 0.2rem;
	margin-top: 0.2rem;
}
.hallTop .othersHall{
	width: 3rem;
	height: auto;
	background: rgba(0,0,0,.6);
	border-radius: 0.1rem;
	position: absolute;
	right: 0.2rem;
	top: 100%;
	display: none;
}
.hallTop .othersHall:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border:0.16rem solid transparent;
	border-bottom: 0.16rem solid #777;
	top: -0.30rem;
	right: 0.3rem;
}
.othersHall ul li{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	padding: 0 0.2rem;
	border-bottom: 1px solid #666666;
}
.othersHall ul li:last-child{
	border: 0;
}
.othersHall ul li a{
	display: block;
	color: #fff;
	position: relative;
}
.othersHall ul li a span{
	display: inline-block;
	width: 0.40rem;
	height: 0.40rem;
	line-height: 0.4rem;
	text-align: center;
	background: #F64C68;
	border-radius: 50%;
	position: absolute;
	right: 0.1rem;
	top: 0.2rem;
}



















































































/*四宫格 end*/
